@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
#sidebar {
  text-align: center;
  padding: 1rem 1rem;
}
#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
  margin-right: 0;
}
body{
  font-size: 14px !important;
}
/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggle {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

#page-content {
  padding: 1rem 0rem;
  text-align: center;
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
    border: none;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -14.5rem;
    padding-right: 0rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    border: none;
    outline: none;
  }
  #sidebar.collapsed #sidebar-toggle:focus-visible{
    outline: none;
    border: none;
  }
  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 4.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }
  /* Hide the toggle on a large screen */
  #navbar-toggle,#KPI-toggle {
    display: none;
  }
  #collapse, #mycollapse {
    display: block;
  }
  #mycollapse{
    display: inline-block;
  }
  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 20rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
  .switcher{
    font-size: 16px !important;
  }
}
@media screen and (max-width: 575px) {
  .KPI{
    min-width: 70px;
  }
  .switcher{
    font-size: 16px !important;
  }
}
.KPI, .mycard{
  color: #dddddd;
  /* border: 1px solid var(--info); */
  border-radius: 15px;
background: linear-gradient(145deg, #03204957, #06275557);
box-shadow:  4px 4px 4px rgba(1, 32, 48, 0.37),
             0px 0px 0px #223b46;
margin-bottom: 12px !important;
}
.mycard{
  margin: 8px 4px ;
  padding: 6px;
}
.KPI{
  min-width: fit-content;
  font-size: small;
  padding: 10px !important;
  margin: 5px auto ;
  border-radius: 22px;
}
.justify-content-between{
  margin: auto 30px !important;
}
*:focus, *:active, * ::shadow{
  outline: none !important;
  border: none;
}

.bCard{
  border: 1px solid rgba(239, 239, 253, 0.288);
  border-radius: 15px;
  background: #d4d4d43b;
  min-width: min-content;
  padding: 14px;
  margin: 10px auto !important;
}
*::after, *::before{
  box-sizing:unset;
}
.title{
  color: #f0f0f0;
  font-weight: 400;
  font-size: small;

}
.titre{
  margin-top: 15px;
  margin-bottom: 10px;
}
.lead{
  width: auto;
}
.switcher{
  font-size: 17px;
  display: inline-flex;

}
.switcher_icon{
  font-size: 12px;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px lightseagreen;
	background-color: #f1f0f0;
	border-radius: 12px;
}

*::-webkit-scrollbar
{
	width: 16px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 6px rgba(49, 139, 102, 0.911);
	background-color: rgba(89, 129, 112, 0.164);
}
*::-webkit-scrollbar-thumb:hover {
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(rgba(25, 138, 132, 0.541)),
									   to(#19915991),
									   color-stop(.6,#4ce6a696))

}
.link{
  color: #f4fffe;
  font-size: x-large;
}
.link:hover{
  color: tomato;
}

.fa, .fab, .fas, .far{
  color: rgb(218, 218, 218) !important;
}
.fa:hover, .fab:hover, .fas:hover, .far:hover{
  color: rgb(255, 255, 255) !important;
}

div.Select-control {
  background-color: #e9e9e92a;
  border-radius: 4px;
  border: 0.4px solid rgba(239, 239, 253, 0.288) !important;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
  }

.Select-value-label{
  color: #FFFFFF !important; 
  }
 html{
   font-size: 0.8rem !important;
 }
  
b,.titre{
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: larger;
  }

.testing-colors{
  color: #327777  rgb(255, 86, 119),rgb(41, 212, 247) #07224748 rgb(196, 125, 230), #fc76c4, #a15e94, #ce5ec6, #ffd3d3, '
  #29d4f7, #FF5677, #ff74ff, #7c0b69, #f7c76f rgba(95, 158, 160, 0.158) saddlebrown darkslateblue lightblue
  #862d52 rgb(121, 4, 230)  #212121, #e4e4e410
  aliceblue, antiquewhite, aqua, aquamarine, azure,
            rgb(180, 180, 180), bisque, black, blanchedalmond, blue,
            blueviolet, brown, burlywood,
            chartreuse, chocolate, coral, cornflowerblue,
            cornsilk, crimson, cyan, darkblue, darkcyan,
            darkgoldenrod, #e6f8f8, darkgrey, darkgreen,
            darkkhaki, darkmagenta, darkolivegreen, #974d5d9a,
            darkorchid, darkred, darksalmon, darkseagreen,
            darkslategray, darkslategrey,
            darkturquoise, darkviolet, rgb(94, 2, 51), rgb(128, 3, 111),
            dimgray, rgb(216, 216, 216), dodgerblue, firebrick,
            floralwhite, forestgreen, fuchsia, gainsboro,
            ghostwhite, gold, goldenrod, gray, grey, green,
            greenyellow, honeydew, hotpink, indianred, indigo,
            ivory, khaki, lavender, lavenderblush, lawngreen,
            lemonchiffon, lightblue, lightcoral, lightcyan,
            lightgoldenrodyellow, lightgray, lightgrey,
            lightgreen, lightpink, lightsalmon, lightseagreen,
            lightskyblue, lightslategray, lightslategrey,
            lightsteelblue, lightyellow, lime, limegreen,
            linen, magenta, maroon, mediumaquamarine,
            mediumblue, mediumorchid, mediumpurple,
            mediumseagreen, mediumslateblue, mediumspringgreen,
            mediumturquoise, mediumvioletred, midnightblue,
            mintcream, mistyrose, moccasin, navajowhite, rgb(42, 42, 53),
            oldlace, olive, olivedrab, orange, orangered,
            orchid, palegoldenrod, palegreen, paleturquoise,
            palevioletred, papayawhip, peachpuff, peru, pink,
            plum, powderblue, purple, red, rosybrown,
            royalblue, rebeccapurple, salmon,
            sandybrown, seagreen, seashell, sienna, silver,
            skyblue, slateblue, slategray, slategrey, snow,
            springgreen, steelblue, tan, teal, thistle, tomato,
            yellow, yellowgreen;

}
.modebar-btn .plotlyjsicon .modebar-btn--logo{
  display: none !important;
}
.js-plotly-plot .plotly .modebar-btn{
  display: none !important;
}