#sidebar {
  text-align: center;
  padding: 1rem 1rem;
}
#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
  margin-right: 0;
}
body{
  font-size: medium;
}
/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggle {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

#page-content {
  padding: 1rem 0rem;
  text-align: center;
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
    border: none;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -14.5rem;
    padding-right: 0rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    border: none;
    outline: none;
  }
  #sidebar.collapsed #sidebar-toggle:focus-visible{
    outline: none;
    border: none;
  }
  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 4.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle,#KPI-toggle {
    display: none;
  }

  #collapse, #mycollapse {
    display: block;
  }
  
  #mycollapse{
    display: inline-block;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 20rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
  .switcher{
    font-size: 16px !important;
  }
}
@media screen and (max-width: 575px) {
  .KPI{
    min-width: 70px;
  }
  .switcher{
    font-size: 16px !important;
  }
}
.KPI, .mycard{
  color: #dededf;
  border: 1px solid rgba(239, 239, 253, 0.288);
  border-radius: 15px;
  background: #ffffff1e;
  box-shadow:  4px 4px 5px #8383831f,
               -1px -1px 4px #8383831f;
}
.mycard{
  margin: 8px !important;
  padding: 6px;
}
.KPI{
  min-width: fit-content;
  max-width: min-content;
  font-size: small;
  padding: 10px !important;
  margin: 8px auto !important;
}
*:focus, *:active, * ::shadow{
  outline: none !important;
  border: none;
}
.testing-colors{
  color: #058f48 #f3f3f3 #005064 rgba(255, 255, 255, 0.925);

}
.bCard{
  border: 1px solid rgba(239, 239, 253, 0.288);
  border-radius: 15px;
  background: #ffffff1e;
  min-width: min-content;
  padding: 10px;
  margin: 10px auto !important;
}
*::after, *::before{
  box-sizing:unset;
}
.title{
  color: #f0f0f0;
  font-weight: 400;
  font-size: small;

}
.titre{
  margin-top: 15px;
  margin-bottom: 10px;
}
.lead{
  width: auto;
}
.switcher{
  font-size: 20px;
  display: inline-flex;

}
.switcher_icon{
  font-size: medium;
}